/*  Navbar styles */
nav {
    color: var(--color-primary) !important;
}

nav .logo-text {
    color: var(--color-primary) !important;
}

nav .nav-link {
    color: var(--color-gray-3) !important;
}

nav .nav-link:hover {
    color: var(--color-primary) !important;
}

/* Footer styles */
footer {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
}

footer a {
    color: var(--color-gray-4) !important;
    text-decoration: none !important; 
}

footer a:hover {
    color: var(--color-white) !important;
}

footer .footer-socials a {
    color: inherit !important;
    text-decoration: none !important;
}

/* Progress bar styles */
header .progress-bar {
    background-color: var(--color-primary) !important;
}

.custom-progress-bar {
    max-width: 600px !important;
}

.custom-progress-bar .circle {
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 50%;
    background-color: var(--color-gray-4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.custom-progress-bar .circle.active {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
}

.custom-progress-bar .circle.not-yet-started {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-5);
}

.custom-progress-bar .circle.completed {
    background-color: var(--color-primary);
}

/* Sticky Button Group */
.sticky-bottom-btn {
    position: sticky;
    bottom: 0;
    background: var(--color-white);
    z-index: 100; 
}