:root {
    /* Colors */
    --color-primary: #092C4C;
    --color-primary-rgb: 9, 44, 76;
    --color-secondary: #2F80ED;
    --color-bg: #ffffff;
    --color-white: #ffffff;
    --color-black-1: #000000;
    --color-black-2: #1D1D1D;
    --color-black-3: #282828;
    --color-gray-1: #333333;
    --color-gray-2: #4F4F4F;
    --color-gray-3: #828282;
    --color-gray-4: #BDBDBD;
    --color-gray-5: #E0E0E0;
    --color-gray-6: rgba(224, 224, 224, 0.5);

    /* Typography */
    --font-main: "Inter", sans-serif;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 48px;

    /* Shadows */
    --shadow-card: 2px 2px 15px 0px #00000040;
}