:root {
  /* Colors */
  --color-primary: #092c4c;
  --color-primary-rgb: 9, 44, 76;
  --color-secondary: #2f80ed;
  --color-bg: #ffffff;
  --color-white: #ffffff;
  --color-black-1: #000000;
  --color-black-2: #1d1d1d;
  --color-black-3: #282828;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #e0e0e0;
  --color-gray-6: rgba(224, 224, 224, 0.5);

  /* Typography */
  --font-main: 'Inter', sans-serif;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 48px;

  /* Shadows */
  --shadow-card: 2px 2px 15px 0px #00000040;

  /* Bootstrap Color Overrides */
  --bs-primary: var(--color-primary) !important;


}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-main);
}

main {
  padding: 0 !important;
  margin: 0 !important;
}

/* BootStrap Overrides */

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-white);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.btn-primary:hover {
  background-color: rgba(var(--color-primary-rgb), 0.85) !important;
  border-color: rgba(var(--color-primary-rgb), 0.85) !important;
}



.btn-outline-primary {
    --bs-btn-color: var(--color-primary) !important;
    --bs-btn-border-color: var(--color-primary) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-primary) !important;
    --bs-btn-hover-border-color: var(--color-primary) !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-primary) !important;
    --bs-btn-active-border-color: var(--color-primary) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-primary) !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-primary) !important;
    --bs-gradient: none;
}

.btn-secondary {
  background-color: var(--color-white) !important;
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-secondary:hover {
  background-color: var(--color-gray-5) !important;
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.list-group-item:hover {
  border: 1px solid var(--color-primary) !important;
}

.form-check-input:checked {
  background-color: var(--color-primary);
}

.accordion-button::after {
  width: 1rem !important;
  height: 1rem !important;
  background-size: 1rem;
}

/* Utility Class */

.extra-small-text-regular {
  font-family: var(--font-main) !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important; /* 12px */
  line-height: 16.6px !important;
  letter-spacing: 0% !important;
}

.extra-small-text-bold {
  font-family: var(--font-main) !important;
  font-weight: 700 !important;
  font-size: 0.75rem !important; /* 12px */
  line-height: 16.6px !important;
  letter-spacing: 0% !important;
}

.small-text-regular {
  font-family: var(--font-main) !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important; /* 14px */
  line-height: 19.6px !important;
  letter-spacing: 0% !important;
}

.small-text-bold {
  font-family: var(--font-main) !important;
  font-weight: 700 !important;
  font-size: 0.875rem !important; /* 14px */
  line-height: 19.6px !important;
  letter-spacing: 0% !important;
}

.normal-text-regular {
  font-family: var(--font-main) !important;
  font-weight: 400 !important;
  font-size: 1rem !important; /* 16px */
  line-height: 22.4px !important;
  letter-spacing: 0% !important;
}

.normal-text-bold {
  font-family: var(--font-main) !important;
  font-weight: 700 !important;
  font-size: 1rem !important; /* 16px */
  line-height: 22.4px !important;
  letter-spacing: 0% !important;
}

.medium-text-regular {
  font-family: var(--font-main) !important;
  font-weight: 400 !important;
  font-size: 1.125rem !important; /* 18px */
  line-height: 25.2px !important;
  letter-spacing: 0% !important;
}

.medium-text-bold {
  font-family: var(--font-main) !important;
  font-weight: 700 !important;
  font-size: 1.125rem !important; /* 18px */
  line-height: 25.2px !important;
  letter-spacing: 0% !important;
}

.large-text-regular {
  font-family: var(--font-main) !important;
  font-weight: 400 !important;
  font-size: 1.25rem !important; /* 20px */
  line-height: 28px !important;
  letter-spacing: 0% !important;
}

.large-text-bold {
  font-family: var(--font-main) !important;
  font-weight: 700 !important;
  font-size: 1.25rem !important; /* 20px */
  line-height: 28px !important;
  letter-spacing: 0% !important;
}

.small-text {
  font-size: 0.875rem; /* 14px */
}

.smaller-text {
  font-size: 0.75rem; /* 12px */
}

.smallest-text {
  font-size: 0.625rem; /* 10px */
}

.cursor-pointer {
  cursor: pointer;
}
